<!-- Main content -->
<section class="content">
  <div class="container-fluid">



    <div class="row">
      <div class="col-md-4">
        <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header text-white"
                   style="background: url('<%= image_path("bg_1")%>') center center;height: 255px;">
                <h3 class="widget-user-username text-right">
                  <%= @company.name %></h3>
                <h5 class="widget-user-desc text-right">云南大理市</h5>
              </div>
              <div class="widget-user-image" style='padding-top: 120px;'>
                <img class="img-circle" src="<%= image_path("xg_tea")%>" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">93,200</h5>
                      <span class="description-text">总申码量</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">码使用量</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">4</h5>
                      <span class="description-text">产品数量</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>

      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><i class="fa fa-line-chart"></i> 2021年度产品溯源码使用情况</h5>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <canvas id="salesChart" height="180" style="height: 180px;"></canvas>
                </div>
                <!-- /.chart-responsive -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- ./card-body -->
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-success">
                    <i class="fa fa-caret-up"></i>
                    17%</span>
                  <h5 class="description-header">35,210</h5>
                  <span class="description-text">本月申请量</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-warning">
                    <i class="fa fa-caret-left"></i>
                    0%</span>
                  <h5 class="description-header">10,390</h5>
                  <span class="description-text">本月使用量</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-success">
                    <i class="fa fa-caret-up"></i>
                    20%</span>
                  <h5 class="description-header">24,813</h5>
                  <span class="description-text">上月申请量</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-6">
                <div class="description-block">
                  <span class="description-percentage text-danger">
                    <i class="fa fa-caret-down"></i>
                    18%</span>
                  <h5 class="description-header">1200</h5>
                  <span class="description-text">上月使用量</span>
                </div>
                <!-- /.description-block -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-product-hunt"></i> 我的产品</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <ul class="users-list clearfix">
              <li>
                <img src="<%= image_path("product_1")%>" alt="User Image" width="128" height="128">
                <span class="users-list-name">下关沱茶 - 野生沱茶</span>
                <span class="users-list-date">1,000,000 / 800,000</span>
                <a href="javascript:void(0)" class="btn btn-xs btn-info">申请码</a>
              </li>
              <li>
                <img src="<%= image_path("product_2")%>" alt="User Image" width="128" height="128">
                <span class="users-list-name">下关沱茶 - 苍洱沱茶</span>
                <span class="users-list-date">1,000,000 / 800,000</span>
                <a href="javascript:void(0)" class="btn btn-xs btn-info">申请码</a>
              </li>
              <li>
                <img src="<%= image_path("product_3")%>" alt="User Image" width="128" height="128">
                <span class="users-list-name">下关沱茶</span>
                <span class="users-list-date">1,000,000 / 800,000</span>
                <a href="javascript:void(0)" class="btn btn-xs btn-info">申请码</a>
              </li>
              <li>
                <img src="<%= image_path("product_4")%>" alt="User Image" width="128" height="128">
                <span class="users-list-name">下关沱茶 - 松鹤贡茶</span>
                <span class="users-list-date">1,000,000 / 800,000</span>
                <a href="javascript:void(0)" class="btn btn-xs btn-info">申请码</a>
              </li>
              <li>
                <img src="<%= image_path("product_5")%>" alt="User Image" width="128" height="128">
                <span class="users-list-name">下关沱茶 - 松鹤T8603</span>
                <span class="users-list-date">1,000,000 / 800,000</span>
                <a href="javascript:void(0)" class="btn btn-xs btn-info">申请码</a>
              </li>
              <li>
                <img src="<%= image_path("product_6")%>" alt="User Image" width="128" height="128">
                <span class="users-list-name">下关沱茶 - 生态七子饼</span>
                <span class="users-list-date">1,000,000 / 800,000</span>
                <a href="javascript:void(0)" class="btn btn-xs btn-info">申请码</a>
              </li>

            </ul>
            <!-- /.users-list -->
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title"><i class="fa fa-code-fork"></i> 申码纪录</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>产品名称</th>
                    <th>已申请码量</th>
                    <th>已使用码量</th>
                    <th>申请数量</th>
                    <th>状态</th>
                    <th>申请时间</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <img src="<%= image_path("product_1")%>" class="rounded" width="48" height="48">
                    </td>
                    <td>
                      下关沱茶
                    </td>
                    <td>343,221,124</td>
                    <td>43,221,124</td>
                    <td>430,000</td>
                    <td><span class="badge badge-warning">审批中</span></td>
                    <td>2021年5月12日</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="<%= image_path("product_2")%>" class="rounded" width="48" height="48">
                    </td>
                    <td>
                      下关沱茶
                    </td>
                    <td>343,221,124</td>
                    <td>43,221,124</td>
                    <td>430,000</td>
                    <td><span class="badge badge-info">待绑定</span></td>
                    <td>2021年5月12日</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="<%= image_path("product_3")%>" class="rounded" width="48" height="48">
                    </td>
                    <td>
                      下关沱茶
                    </td>
                    <td>343,221,124</td>
                    <td>43,221,124</td>
                    <td>430,000</td>
                    <td><span class="badge badge-danger">被驳回</span></td>
                    <td>2021年5月12日</td>
                  </tr>
                  <tr>
                    <td>
                      <img src="<%= image_path("product_4")%>" class="rounded" width="48" height="48">
                    </td>
                    <td>
                      下关沱茶
                    </td>
                    <td>343,221,124</td>
                    <td>43,221,124</td>
                    <td>430,000</td>
                    <td><span class="badge badge-secondary">已完成</span></td>
                    <td>2021年5月12日</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">查看所有纪录</a>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>

    </div>






  </div>
  <!--/. container-fluid -->
</section>
<!-- /.content -->


<script type="text/javascript">

  /* global Chart:false */

$(function () {


  /* ChartJS
   * -------
   * Here we will create a few charts using ChartJS
   */

  //-----------------------
  // - MONTHLY SALES CHART -
  //-----------------------

  // Get context with jQuery - using jQuery's .get() method.
  var salesChartCanvas = $('#salesChart').get(0).getContext('2d')

  var salesChartData = {
    labels: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
    datasets: [
      {
        label: '申请量',
        backgroundColor: 'rgba(60,141,188,0.9)',
        borderColor: 'rgba(60,141,188,0.8)',
        pointRadius: false,
        pointColor: '#3b8bba',
        pointStrokeColor: 'rgba(60,141,188,1)',
        pointHighlightFill: '#fff',
        pointHighlightStroke: 'rgba(60,141,188,1)',
        data: [28, 48, 40, 19, 86, 27, 90, 28, 48, 40, 19, 86, 27]
      },
      {
        label: '使用量',
        backgroundColor: 'rgba(210, 214, 222, 1)',
        borderColor: 'rgba(210, 214, 222, 1)',
        pointRadius: false,
        pointColor: 'rgba(210, 214, 222, 1)',
        pointStrokeColor: '#c1c7d1',
        pointHighlightFill: '#fff',
        pointHighlightStroke: 'rgba(220,220,220,1)',
        data: [65, 59, 80, 81, 56, 55, 40, 65, 59, 80, 81, 56, 55]
      }
    ]
  }

  var salesChartOptions = {
    maintainAspectRatio: false,
    responsive: true,
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        }
      }],
      yAxes: [{
        gridLines: {
          display: false
        }
      }]
    }
  }

  // This will get the first returned node in the jQuery collection.
  // eslint-disable-next-line no-unused-vars
  var salesChart = new Chart(salesChartCanvas, {
    type: 'bar',
    data: salesChartData,
    options: salesChartOptions
  }
  )

  //---------------------------
  // - END MONTHLY SALES CHART -
  //---------------------------


})



</script>
